
@{
    ViewBag.Title = "Error";
}

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Error</h3>
        <h3>Primero Ingrese un Paciente</h3>
        <form action="Error/Paciente" method="post">
            <table>
                

            </table>
        </form>
    </div>
</body>
</html>
